<!DOCTYPE html>
<html lang="">
<head>
<title>Proyecto3</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link href="{% static 'App/styles/layout.css'%}" rel="stylesheet" type="text/css" media="all">
</head>
<body id="top">
<div class="bgded overlay padtop"> 
  <header id="header" class="hoc clear">
    <div id="logo" class="fl_left"> 
      <h1><a href="index.html">My App</a></h1>
    </div>
    <nav id="mainav" class="fl_right"> 
      <ul class="clear">
        <li class="active"><a href="index.html">Cargar Archivo</a></li>
        <input type="file" id="archivo" name="archivo" accept="XML/xml, .xml, .XML">
        <li><a class="drop" href="#">Peticiones</a>
            <ul>
              <li>Consultar datos</li>
              <li>Resumen de clasificación por fecha</li>
              <li>Resumen por rango de fechas</li>
              <li>Reporte en PDF</li>
              <li>Prueba de mensaje</li>
            </ul>
        </li>
        <li><a class="drop" href="#">Ayuda</a>
            <ul>
              <li>Visualizar información del estudiante</li>
              <li>Visualizar la documentación del programa</li>
            </ul>
          </li>
      </ul>
      
    </nav>
    
  </header>
  <div id="pageintro" class="hoc clear"> 
    <ul class="nospace inline pushright">
        <li><a class="btn" href="#">Enviar</a></li>
        <li><a class="btn inverse" href="#">Reset</a></li>
      </ul>
      <div class="one_quarter">
        <h6 class="heading">Entrada</h6>
        <form action="#" method="post">
          <fieldset>
            <textarea name="comentarios" rows="50" cols="30">Escribe aquí tus comentarios</textarea>
          </fieldset>
        </form>
      </div>
      <div class="one_quarter last">
        <h6 class="heading">Salida</h6>
        <form action="#" method="post">
          <fieldset>
            <textarea name="comentarios" rows="50" cols="30">Escribe aquí tus comentarios</textarea>
          </fieldset>
        </form>
      </div>
  </div>
</div>

<a id="backtotop" href="#top"><i class="fas fa-chevron-up"></i></a>
</body>
</html>